body {
    font-family: Montserrat;
}

footer {
  background-color: royalblue;
  color:white;
}
.results {
    border-color: black;
    border-radius: 1em;

}
.navbar {
    background-color: royalblue;
    color:white;
}